#footer {
  height: 477px;
  flex-shrink: 0;
  margin-top: 100px;
}

.bottom_footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 76px;
  flex-shrink: 0;
  margin-top: 70px;
  border-top: 1px solid rgba(125, 121, 121, 0.47);
}
.imga {
  width: 100%;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}
img {
  width: 56px;
  height: 34px;
  flex-shrink: 0;
}
.img_15 img {
  margin-left: 36px;
  margin-right: 16px;
}
.img_16 img {
  margin-right: 16px;
}
.contai_footer {
  width: 105px;
  height: 210px;
  flex-shrink: 0;
}
.contai_footer_h6 {
  width: 105px;
  height: 166.415px;
  flex-shrink: 0;
  color: var(--heading, #1d1d1d);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.container_footer {
  display: flex;
  justify-content: space-around;
}
.contai_footer {
  text-align: left;
}
.get_in {
  text-align: left;
}
.DeoThemes{
  margin-bottom: -16px;
}
@media (min-width: 599px) and (max-width: 801px) {
  .bottom_footer {
    margin-left: 10px;
  }
  .container_footer {
    margin-left: 10px;
  }
}
@media (min-width: 375px) and (max-width: 812px){
  .bottom_footer {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .container_footer {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .input_get_in{
   display: none;
  }
}


